@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-style {
      @apply fixed top-0 z-30 flex items-center justify-between w-full px-4 py-3 space-x-4 bg-white shadow-sm;
    }
    .input-label {
      @apply flex items-center w-full px-2 space-x-4 text-gray-400 border-b border-b-gray-400;
    }
    .input-field {
      @apply w-full h-full py-3 text-white bg-transparent focus:outline-none;
    }
  }

body {
  color: #14532D;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

main {
    padding: 100px 16px;
}

button {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

button:active {
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #9333ea;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #9333ea;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}